src/main/mule/cicd-app-7303.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fbd4a9ce-6ad1-4c8f-b90f-84d3a946f7ca" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-app-7303Flow" doc:id="9a11b3cc-d8d1-4ac0-b2c1-05a26c5e472a" >
		<http:listener doc:name="Listener" doc:id="1f011320-83c6-45f6-8c44-ddd434968c73" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="a168d7cf-b1f2-483a-996b-c5e8ae15a575" />
		<set-payload value='#["cicd application deployed and responding successfully"]' doc:name="Set Payload" doc:id="a20a2230-d2e9-4768-8629-6693fc1da245" />
		<logger level="INFO" doc:name="Logger" doc:id="4cb26291-fd80-488a-8034-93913e57ba9b" />
	</flow>
</mule>
